/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

.backgroundImage {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.custom-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 68.26px;
  text-align: left;
}

body {
  background-color: #544b4b57;
  color: #fff;
}

.backgroundd {
  background-color: #2A2D37E5;
  width: 100%;
  height: 100vh;
  position: relative;
}

.box {
  /* Each box takes 50% of the container's width */
  padding: 20px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  margin: 2px; /* Adjusted from margin-left and margin-right */
  display: flex;
  align-items: center;
  background: #2A52BE33; /* Include padding and border in the width calculation */
}

.box > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: none;
}

@media (max-width: 768px) {
  .box > div {
    font-size: 14px; /* Adjust as needed for smaller screens */
  }
}

.aboutContainer {
  min-height: 100vh; /* Take up full viewport height */
  background-color: white; /* Background color */
  display: flex;
  justify-content: center;
  color: #000;
  flex-direction: column;
  align-items: center;
}

.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.aboutContent {
  max-width: 800px; /* Adjust as needed */
  padding: 20px;
  color: black; /* Text color */
}

.title {
  margin-bottom: 1rem;
}

.box-container {
  display: flex;
  gap: 1rem;
}

.badge {
  margin-right: 1rem; /* Adjust the margin between the badge and content */
}

.badge-content {
  display: inline-flex;
  align-items: center;
}

.flex-content {
  margin-top: 20px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  height: 100vh;
  width: 100px;
}
